@import 'vcss.scss';

main {
  padding: 2rem 0;
  max-width: 600px;
  background-color: hsla(220,80%,50%,0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 10px;
}

body {
  background-color: #E6E6FA;
}

form button ~ a,
nav a {
  margin-left: 0.5rem;
}

body > header {
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  nav a {
    margin: 0 0.5rem;
  }
}

a.active {
  text-decoration: underline;
}

#flash {
  text-align: center;
  padding: 0.5rem;
  background: $highlight;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  &:first-letter {
    text-transform: uppercase;
  }
  &:empty {
    display: none;
  }
}

.flex {
  display: flex;
  align-items: baseline;
  :first-child {
    flex-grow: 1;
  }
}

.list {
  border-bottom: 1px solid $light;
  padding: 1rem 0;
}

.mail {
  text-align: center;
  padding-top: 1.5rem;
}

footer {
  background-color: hotpink;
  color: white;
}

a.button{
  background: DarkMagenta;
  color: white;
  border-radius: 10px 50%;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: hotpink;
  color: white;
}

a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
 color: hotpink;
 text-decoration: none;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  color: black;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: darkmagenta;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:hotpink;
}

/* Style the container/contact section */
.container {
  border-radius: 10px;
  padding: 10px;
}

/* Create two columns that float next to each other */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Responsive layout - makes a two columns layout instead of one */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  }
}