@import 'vcss.scss';

main {
  padding: 2rem 0;
  max-width: 600px;
  background-color: hsla(220,80%,50%,0.2);
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 14px;
}

body {
  background-color: #E6E6FA;
}

form button ~ a,
nav a {
  margin-left: 0.5rem;
}

body > header {
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  nav a {
    margin: 0 0.5rem;
  }
}

a.active {
  text-decoration: underline;
}

#flash {
  text-align: center;
  padding: 0.5rem;
  background: $highlight;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  &:first-letter {
    text-transform: uppercase;
  }
  &:empty {
    display: none;
  }
}

.flex {
  display: flex;
  align-items: baseline;
  :first-child {
    flex-grow: 1;
  }
}

.list {
  border-bottom: 1px solid $light;
  padding: 1rem 0;
}

.mail {
  text-align: center;
  padding-top: 1.5rem;
}

footer {
  background-color: hotpink;
  color: white;
}

a.button{
  background: DarkMagenta;
  color: white;
  border-radius: 10px 50%;
  transition-duration: 0.3s;

}

.button:hover {
  background-color: hotpink;
  color: white;
}

a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
 color: hotpink;
 text-decoration: none;
}

